<h3>Search Results</h3>

<% @results.each do |result| %>
 <p> <% if result.avatar.present? %>
        <%= image_tag(result.avatar, height: 60, width: 60, :class=> "img-circular") %>
        <% else %>
        <%= image_tag "default-avatar.png", height: 60, width: 60, :class=> "img-circular"%> 
    <% end %> 
  <%= link_to "#{result.name}", user_path(result.id) %><br> </p>
  <p><%= "Followers: #{result.followers.count} "%> <%= "Follows: #{result.followees.count} "%> 
<% end %>