<h1><%= "#{@user.name}"+"'s posts"%> </h1> 
<%= link_to "Followers: #{@user.followers.count}", "/followers/#{@user.id}" %> <%= link_to "Subscribes: #{@user.followees.count} ", "/subscribes/#{@user.id}"%>
<% if @user.id == current_user.id %>
    <% elsif current_user.followees.include?(@user) %>
    <h5><%= button_to "Unfollow", unfollow_user_path, method: "POST" %></h5>    
    <% else %>
        <h5><%= button_to "Follow", follow_user_path, method: "POST"  %></h5>
    <% end%>
    
    <br>

<table>
    <thead>
        <tr>
            <th>Content</th>
            <th>Actions</th>
        </tr>
    </thead>
<tbody>
    <% @user.posts.order('created_at DESC').each do |post| %>
        <tr> 
            <td>
            
            <% if post.image.persisted?%>
                <%= image_tag(post.image, height: 500, width: 500) %>  <p> 
                <% else %>
                <%=image_tag ("/default-avatar.png")%>  <p> 
            <% end %>
            <b> <%= post.title%> </b> <p>
            <%= post.body%> <p> 
            <%= "Likes: #{post.likes.count} "  %> <p> 
            </td> 
            <td><%= link_to "Show", post_path(post) %>   <p>
                <% if post.user_id == current_user.id%>
                <%= link_to "Edit", edit_post_path(post)%>  <p> 
                <%= link_to "Delete", post_path(post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                } %>   <p>
                <% end %>
        </tr>
    <% end %>
</tbody>
</table>